<hr class="top-rule">

<nav>
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="site-name">Jack Blumenau</a>
    <ul>
      <li><a href="{{ '/research' | relative_url }}" {% if page.nav == 'research' %}class="active"{% endif %}>Research</a></li>
      <li><a href="{{ '/projects' | relative_url }}" {% if page.nav == 'projects' %}class="active"{% endif %}>Projects</a></li>
      <li><a href="{{ '/teaching' | relative_url }}" {% if page.nav == 'teaching' %}class="active"{% endif %}>Teaching</a></li>
      <li><a href="{{ '/speaking' | relative_url }}" {% if page.nav == 'Consultancy' %}class="active"{% endif %}>Consultancy</a></li>
      <li><a href="{{ '/CV/cv.pdf' | relative_url }}">CV</a></li>
    </ul>
  </div>
</nav>
